<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- استخدمنا النقطة (.) لأن السيرفر محلي، وقاعدة البيانات SystemMonitorDB كما في صورتك -->
		<add name="SystemMonitorDbString"
			 connectionString="Server=.;Database=SystemMonitorDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

</configuration>